* {
	margin: 0;
	padding: 0;
}

body {
	background-color: grey;
}

#homepage {
	height:2000px;
	width:100%;
}

#item-page {
	height:2000px;
	width:100%;
}
/* This is the mainpage CSS. */

.heading{
	font-size: 60px;
	color: black;
	text-align:center;
}

/* This is what I'm using to make my upper banner. */
.banner {
	position: fixed;
	background-color:grey;
	text-align: center;
	color:yellow;
	height: 50px;
	width: 100%;
	z-index: 2;
	opacity:0.7;
	border-style: inset;
	border-color:black;
}

#mainpage {
	display: inline-block;
	
	position:absolute;
	font-size:32px;
	text-align:center;
	z-index:3;
	color:yellow;
	left:40%;
	opacity:1;
}

#mainpage img {
	height:50px;
	width:400px;
}

#mainpageitem{
	display: inline-block;
	position:absolute;
	font-size:32px;
	text-align:center;
	z-index:3;
	color:yellow;
	left:40%;
	opacity:1;
}

#mainpageitem img {
	height:50px;
	width:400px;
}
/* This is my Nav menu */
#dropdownbutton {
    padding: 16px;
    font-size: 16px;
    border: none;
	
}

#dropdownbutton img {
	height:18px;
	width:18px;
}

.navigation {
    position: fixed;
    display: inline-block;
	left:0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width: 160px;
    z-index: 2;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.navigation:hover .dropdown-content {
    display: block;
}

/* This is my video background */

#video-bg-elem {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
	z-index:0;
}

#button {
    width: 200px;
    font-size: 18px;
	margin-left: 1700px;
    padding: 15px;
    border: none;
    background: #000;
    color: white;
    cursor: pointer;
}

#button:hover {
    background: #ddd;
    color: black;
}


.section1 {
	
	background-size:cover;
	text-align:left;
	height:33%;
	width:auto;
	z-index:1;
	position:relative;
}

.section1 h5 {
	color:red;
	padding-top:5%;
	text-shadow: 2px 2px 4px #000000;
	
}

.text1 {
	text-align:center;
	color:yellow;
	font-style: bold;
	font-size:50;
	padding-top:200px;
	text-shadow: 2px 2px 4px #000000;
}

.thumbs {
	max-width:400px;
	padding-top:2%;
	padding-bottom:2%;
	padding-left:37%;
}

.text2 {
	text-align:center;
	color: yellow;
	font-style: bold;
	font-size:50;
	padding-top: 300px;
	text-shadow: 2px 2px 4px #000000;
}


.section2 {
	text-align:left;
	height:33%;
	width:auto;
	padding: 60px;
	top: 200px;
	z-index:1;
	position:relative;
}

.section2 h5 {
	color:red;
	padding-top:5%;
	text-shadow: 2px 2px 4px #000000;
}

/* This is my second section, and contains what everyone did. */

#Brayden {
	max-width:300px;
	padding-left:100px;
	padding-top: 20px;
	text-shadow: 2px 2px 4px #000000;
}

#bray-p {
	color:yellow;
	font-size:30px;
	margin-left:8.5%;
	font-style:bold;
	font-family:Arial;
	text-shadow: 2px 2px 4px #000000;
}

.section3 {
	text-align:left;
	height:33%;
	width:auto;
	padding: 60px;
	top: 300px;
	z-index:1;
	position:relative;
}

.section3 h5 {
	color:red;
	padding-top:5%;
	text-shadow: 2px 2px 4px #000000;
}

table {
	color:yellow;
	font-size:30px;
	text-shadow: 2px 2px 4px #000000;
	margin-left:40%;
	z-index:3;
}

table th{
	color:white;
	text-shadow: 2px 2px 4px #000000;
}

th, td {
    padding: 15px;
}

/* This is the items page CSS. */

.item-sec {
	background-image:url("warehouse.jpeg");
	background-color:grey;
	width: 100%;
	height:1000px;
	top: 300px;
	border-style: solid;
}

.item-sec2 {
	background-image:url("office.jpeg");
	background-size:cover;
	background-color:grey;
	width: 100%;
	height:1000px;
	top: 300px;
	border-style: solid;
}

.item1{
	max-width:400px;
	max-height:400px;
	z-index:2;
	margin-left:750px;
	margin-top:150px;
	border:solid;
	border-color:yellow;
}

.p-item1 {
	width:500px;
	background-color:grey;
	margin-top:20px;
	margin-left:38%;
	color:white;
	font-size:25px;
	text-shadow: 2px 2px 4px #000000;
	border-style: dotted;
}

.item2{
	max-width:400px;
	max-height:400px;
	z-index:2;
	margin-left:750px;
	margin-top:100px;
	border:solid;
	border-color:yellow;
}

.item3{
	max-width:400px;
	max-height:400px;
	z-index:2;
	margin-left:750px;
	margin-top:150px;
	border:solid;
	border-color:blue;
}

.item4{
	max-width:400px;
	max-height:400px;
	z-index:2;
	margin-left:750px;
	margin-top:150px;
	border:solid;
	border-color:blue;
}

.p-item2{
	width:500px;
	background-color:grey;
	margin-top:20px;
	margin-left:38%;
	color:white;
	font-size:25px;
	text-shadow: 2px 2px 4px #000000;
	border-style: dotted;
}

.item-sec3 {
	background-color:grey;
	width: 100%;
	height:500px;
	top: 300px;
	border-style: solid;	
}

form {
	margin-top:5%;
	margin-left:0%;
	text-align:center;
	font-size:30;
}

input {
		width:30%;
		font-size:25;
}
/*product info*/
.a{background-color: gray;
	height:100px;
	width:100%;
	
}
.e{background-color: gray;
	height:500px;
	width:100%;
}
.c{background-color: gray;
	height:500px;
	width:100%;
}
.d{background-color: gray;
	
	height:500px;
	width:100%;
}
.f{
	background-color: gray;
	height:500px;
	width:100%;
}
#dell{

	back
	z-index:2;
	margin-left:600px;
	margin-top:-150px;
	
	
}
